*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: green;
}

.box {
    background-color: blue;
    color: yellow;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: anime1 5s ease-in 1s 4 backwards;
    animation-direction: alternate;
}


@keyframes anime1 {
    from{
        width: 200px;
        /* height: 200px; */
        background-color: blue;
        color: yellow;
    }

    to{
        width: 600px;
        /* height: 400px; */
        background-color: yellow;
        color: blue;
    }
}


.container2 {
    background-color: red;
    width: 1000px;
    height: 500px;
    margin: auto;
    /* position: relative; */
}

.box2 {
    position: relative;
    background-color: violet;
    color: brown;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: anime2 10s ease-in 1s 4 forwards;
    animation-direction: alternate;
}

@keyframes anime2 {
    0% {
        top: 0px;
        left: 0px;
        background-color: violet;
        color: brown;
    }
    25% {
        top: 300px;
        left: 0px;
        background-color: blue;
        color: rgb(189, 116, 116);
    }
    50% {
        top: 300px;
        left: 800px;
        background-color: green;
        color: red;
    }
    75% {
        top: 0px;
        left: 800px;
        background-color: orange;
        color: rgb(243, 3, 43);
    }

    
    100% {
        top: 0px;
        left: 0px;
        background-color: violet;
        color: brown;
    }
}