* {
    margin: 0;
    padding: 0;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: blue;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;

    transition: all 5s ease-in-out 1s;
}

.box:hover {
    background-color: pink;
    width: 50vw;
    height: 50vh;
    transform: rotate(180deg);
    transform: skew(60deg);
    transform: scale(0.5);
    transform: translate(100px, 100px);
    transform: skew(-60deg);
}
